In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/quiz-data.xlsx')

In [4]:
df.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7A,Q8A,Q9A,Q10A,Q7B,Q8B1,Q9B1,Q10B1,Q8B2,Q9B2,Q10B2,Genero_final
0,1,A,A,A,A,A,A,C,B,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
1,2,A,A,A,A,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rock
2,3,A,A,A,A,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rock
3,4,A,C,D,A,A,D,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rock
4,5,A,A,A,A,A,A,C,B,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal

Como os dados foram gerados manualmente, sendo os valores nulos propositais para esse caso, logo não é necessário que haja limpeza de dados. Sendo assimm, o próximo passo é a divisão dos dados e logo depois o pré-processamento dos dados

## Divisão dos dados em treino e teste

In [7]:
df.shape

(101, 19)

In [11]:
features = df.iloc[:, 1:18]
features

    Q1 Q2 Q3 Q4 Q5 Q6  Q7A  Q8A  Q9A Q10A  Q7B Q8B1 Q9B1 Q10B1 Q8B2 Q9B2 Q10B2
0    A  A  A  A  A  A    C    B    A    B  NaN  NaN  NaN   NaN  NaN  NaN   NaN
1    A  A  A  A  A  A    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
2    A  A  A  A  A  A    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
3    A  C  D  A  A  D    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
4    A  A  A  A  A  A    C    B    A    B  NaN  NaN  NaN   NaN  NaN  NaN   NaN
..  .. .. .. .. .. ..  ...  ...  ...  ...  ...  ...  ...   ...  ...  ...   ...
96   D  A  D  C  B  D  NaN  NaN  NaN  NaN    A    C    D     C  NaN  NaN   NaN
97   C  E  D  D  B  D  NaN  NaN  NaN  NaN    A    C    D     C  NaN  NaN   NaN
98   C  D  C  E  E  C  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    B    B     B
99   E  D  C  C  E  D  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    B    B     B
100  C  E  E  C  E  C  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    A    A     A

[101 rows x 17 columns]

In [16]:
target = df.iloc[:, 18]
target

0                Metal
1                 Rock
2                 Rock
3                 Rock
4                Metal
            ...
96              Gospel
97              Gospel
98                Jazz
99                Jazz
100    Música Clássica
Name: Genero_final, Length: 101, dtype: object

In [17]:
target.unique()

array(['Metal', 'Rock', 'Eletrônica', 'Pop', 'Sertanejo', 'MPB', 'Gospel',
       'Jazz', 'Música Clássica'], dtype=object)

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 0)

In [19]:
x_train.shape, y_train.shape

((80, 17), (80,))

In [20]:
x_test.shape, y_test.shape

((21, 17), (21,))

## Pré-processamento de dados

### One-Hot-Encoder

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [23]:
features.iloc[:, 0:18]

    Q1 Q2 Q3 Q4 Q5 Q6  Q7A  Q8A  Q9A Q10A  Q7B Q8B1 Q9B1 Q10B1 Q8B2 Q9B2 Q10B2
0    A  A  A  A  A  A    C    B    A    B  NaN  NaN  NaN   NaN  NaN  NaN   NaN
1    A  A  A  A  A  A    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
2    A  A  A  A  A  A    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
3    A  C  D  A  A  D    A    A    A    A  NaN  NaN  NaN   NaN  NaN  NaN   NaN
4    A  A  A  A  A  A    C    B    A    B  NaN  NaN  NaN   NaN  NaN  NaN   NaN
..  .. .. .. .. .. ..  ...  ...  ...  ...  ...  ...  ...   ...  ...  ...   ...
96   D  A  D  C  B  D  NaN  NaN  NaN  NaN    A    C    D     C  NaN  NaN   NaN
97   C  E  D  D  B  D  NaN  NaN  NaN  NaN    A    C    D     C  NaN  NaN   NaN
98   C  D  C  E  E  C  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    B    B     B
99   E  D  C  C  E  D  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    B    B     B
100  C  E  E  C  E  C  NaN  NaN  NaN  NaN    B  NaN  NaN   NaN    A    A     A

[101 rows x 17 columns]

In [26]:
OHE = ColumnTransformer(transformers = [('OneHot', OneHotEncoder(), features.columns)], remainder = 'passthrough')

In [27]:
x_train = OHE.fit_transform(x_train)
x_test = OHE.transform(x_test)

In [28]:
# Salvando o pré-proessamento OHE
import pickle
with open('Pickle/OHE.pkl', 'wb') as arquivo:
    pickle.dump(OHE, arquivo)

### Label Encoder

In [30]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [31]:
y_train = LE.fit_transform(y_train)
y_test = LE.transform(y_test)

In [32]:
# Salvando o pré-proessamento LE
import pickle
with open('Pickle/LE.pkl', 'wb') as arquivo:
    pickle.dump(LE, arquivo)

In [33]:
x_train.shape, y_train.shape

((80, 73), (80,))

In [34]:
x_test.shape, y_test.shape

((21, 73), (21,))

In [35]:
# Salvando dados pré-processados
with open('Pickle/preprocessed_data.pkl', 'wb') as f:
    pickle.dump([x_train, y_train, x_test, y_test], f)